{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- page to view baker profile photo, name, bio, recipes and user type -->
<div class="container mt-4">
    <div class="row g-0 profile-page">
        <div class="col-12 text-center mb-3">
            <h2>Baker {{ baker.user.username }}</h2>
            {% if request.user == baker.user %}
        <a role="button" class="btn btn-primary" href="{% url 'recipes:edit_baker_profile' username=baker.user.username %}">Edit Profile</a>
        {% endif %}
        </div>
        <div class="col-7 baker-bio">
            <h3>A bit about Baker {{ baker.user.username }}</h3>
        <p>{{ baker.bio }}</p>
            <p>I would call myself a {{ baker.get_user_type_display }}</p>
        </div>
        <div class="col-4 baker-pic">
            <img src="{{ baker.profile_pic.url }}" class="scale recipe-image" alt="{{ baker.user.username }}">
        </div>
        <div class="col-12 mt-3 recipe-list">
            <h3>Recipes by Baker {{ baker.user.username }}</h3>
            <ul>
                {% for recipe in recipes %}
                <li><a href="{% url 'recipes:recipe_detail' recipe.slug %}">{{ recipe.title }}</a></li>
                {% empty %}
                <li>No recipes available by this baker.</li>
                {% endfor %}
            </ul>
        </div>
        
    </div>



{% endblock %}