{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- page to view baker profile photo, name, bio, recipes and user type -->
{% if featured_recipe %}
<div class="container mt-4">
    <div class="card mb-4">
        <img src="{{ featured_recipe.image.url }}" class="card-img-top recipe-image" alt="{{ featured_recipe.title }}">
        <div class="card-body text-center">
            <h2 class="card-title">✨ Recipe of the Week ✨</h2>
            <h4>{{ featured_recipe.title }}</h4>
            <p class="text-muted">By <a href="{% url 'recipes:baker_profile' featured_recipe.baker.user %}">{{ featured_recipe.baker }}</a></p>
            <p>{{ featured_recipe.excerpt }}</p>
            <a href="{% url 'recipes:recipe_detail' featured_recipe.slug %}" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}