
{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-12 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ recipe.baker }} | {{ recipe.created_on }}</p>
            </div>
            <div class="col-6 justify-content-center">
                <img src="{{ recipe.image.url }}" class="scale recipe-image" alt="{{ recipe.title }}">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 card mb-4 mt-3">
            <div class="card-body">
                <h2>Ingredients List</h2>
                <!-- The ingredients content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ recipe.ingredients | safe }}
                </p>
            </div>
        </div>
        <div class="col-12 card mb-4 mt-3">
            <div class="card-body">
                <h2>Instructions</h2>
                <!-- The instructions content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ recipe.instructions | safe }}
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock content %}